<template>
    <div>
        <v-layout row wrap>
            <v-flex xs12 class="pb-5 pt-5">
                <nuxt-link to="/input_user" class="text-decoration-none">
                <v-btn
                tile
                color="success">
                    <v-icon left>
                        mdi-plus
                    </v-icon>
                    Tambahkan user
                </v-btn>
                </nuxt-link>
            </v-flex>
            <v-flex xs12>
                <template>
                    <v-card>
                        <v-card-title class="">
                            Dashboard
                        </v-card-title>
                        <v-data-table :headers="headers" :items="posts" :items-per-page="5" hide-actions class="elevation-1">
                            <!-- <template slot="items" slot-scope="props">
                                <td class="text-xs-center">{{ props.index+1 }}</td>
                                <td class="text-xs-center">{{ props.item.username }}</td>
                                <td class="text-xs-center">{{ props.item.email }}</td>
                                <td class="text-xs-center">{{ props.item.password}}</td>
                                <td class="text-xs-center">
                                    <nuxt-link to="/delete_user">
                                    <v-btn dark color="red" @click="deletePost(row)">
                                        <v-icon>
                                            delete
                                        </v-icon>
                                    </v-btn>
                                    </nuxt-link>
                                    <nuxt-link to="/edit_user">
                                    <v-btn dark color="blue" @click="onEdit(props.index)">
                                        <v-icon>
                                            edit
                                        </v-icon>
                                    </v-btn>
                                    </nuxt-link>
                                </td>
                            </template> -->
                        </v-data-table>
                    </v-card>
                </template>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                headers:[
                    {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: '_id',
                    },
                    { text: 'Email', value: 'email' },
                    { text: 'Username', value: 'username' },
                    { text: 'Role', value: 'role'},
                    { text: 'Created at', value: 'created_at'},
                    { text: 'Updated at', value: 'update_at'},
                    { icon: 'mdi-account-edit'},
                ],
                posts: [],
            }
        },
        mounted() {
            console.log(localStorage.getItem('token'));
            this.users = fetch('http://localhost:3001/user/', {
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
            })
            .then(res => res.json())
            .then(data => {
                console.log(data)
                this.posts = data.users
            });
        }
    }
</script>
                    