<template>
    <v-card
        class="overflow-hidden"
        v-model="valid"
        lazy-validation>
            <v-toolbar flat dark>
                <v-icon>mdi-account</v-icon>
                <v-toolbar-title class="font-weight-bold">
                    Delete User
                </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-form ref="loginForm" v-model="valid" lazy-validation>
                    <v-row>
                        <v-col cols="12">
                            <v-select v-model="selectedItem" label="id" :items='items' required></v-select>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col class="d-flex mx-3" cols="8" sm="3" xsm="12" align-end>
                            <v-btn color="red" @click="clicked"> Delete </v-btn>
                            <v-btn color="amber" href="/dashboard"> Kembali </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        <v-divider></v-divider>
    </v-card>
</template>

<script>
    export default {
        data () {
            return {
                headers:[
                    {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: '_id',
                    },
                ],
                posts: [],
                items: [],
                selectedItem: null,
            }
        },
        mounted() {
            this.users = fetch('http://localhost:3001/user', {
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
            })
            .then(res => res.json())
            .then(data => {
                console.log(data)
                for(let user of data.users) {
                    this.items.push(user._id)
                }
            });
        },
        methods: {
            clicked() {
                console.log('delete')
                fetch('http://localhost:3001/user/'+this.selectedItem.value , {
                    method: 'DELETE',
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                })
            .then(res => {
                return res.json(); 
            })
            .then(data => {
                console.log(data);
            })
            }
        }
    }
</script>