<template>
    <v-card
        class="overflow-hidden"
        v-model="valid"
        lazy-validation>
            <v-toolbar flat dark>
                <v-icon>mdi-account</v-icon>
                <v-toolbar-title class="font-weight-bold">
                    Edit User
                </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="Email"
                    required
                    placeholder="Masukkan email">
                </v-text-field>
                <v-text-field
                    v-model="username"
                    :counter="100"
                    :rules="usernameRules"
                    label="Username"
                    required
                    placeholder="Masukkan username">
                </v-text-field>
                <v-select
                    :items="items"
                    label="Role"
                ></v-select>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="validate"
                >
                Simpan
                </v-btn>
                <v-btn
                color="amber"
                @click="save"
                href="/dashboard"
                >
                Kembali
                </v-btn>
            </v-card-actions>
            <v-snackbar
                v-model="hasSaved"
                :timeout="2000"
                absolute
                bottom
                left
            >
                Data telah berhasil diubah
            </v-snackbar>
    </v-card>
</template>

<script>
    export default {
        data: () => ({
        valid: true,
        username: '',
        usernameRules: [
            v => !!v || 'Username is required',
            v => (v && v.length <= 100) || 'Name must be less than 10 characters',
        ],
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        select: null,
        }),

        methods: {
        validate () {
            this.$refs.form.validate()
        },
        reset () {
            this.$refs.form.reset()
        },
        },
    }
</script>