<template>
<div id="app">
    <v-app>
        <v-dialog v-model="dialog" persistent max-width="600px" min-width="360px">
            <div>
                <v-card class="px-4">
                    <v-card-title class="text-h4 mb-1 mt-3">LOGIN
                    </v-card-title>
                        <v-card-text>
                            <v-form ref="loginForm" v-model="valid" lazy-validation>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field v-model="loginEmail" :rules="loginEmailRules" label="E-mail" required></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="loginPassword" :append-icon="show1?'mdi-eye':'mdi-eye-off'" 
                                            :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" 
                                            label="Password" hint="At least 5 characters" counter @click:append="show1 = !show1">
                                        </v-text-field>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6" xsm="12">
                                    </v-col>
                                    <v-spacer></v-spacer>
                                    <v-col class="d-flex" cols="12" sm="3" xsm="12" align-end>
                                        <v-btn x-large block :disabled="!valid" color="success" @click="validate"> Login </v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card-text>
                </v-card>
            </div>
        </v-dialog>
    </v-app>
</div>
</template>

<script>
export default {
  el: '#app',
  computed: {
    passwordMatch() {
      return () => this.password === this.verify || "Password must match";
    }
  },
  methods: {
    validate() {
      if (this.$refs.loginForm.validate()) {
        // submit form to server/API here...

        fetch('http://localhost:3001/auth/login',
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email: this.loginEmail, password: this.loginPassword })
        })
        .then(res => {
          console.log(res.status);
          if(res.status === 401)
            throw new Error('Gagal');

          return res.json(); 
        })
        .then(data => {
          localStorage.setItem('token', data.token);
          this.$router.push("/dashboard");
        })
        .catch(e => {
          console.log(e);
        });
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    }
  },
  data: () => ({
    dialog: true,
    tab: 0,
    tabs: [
        {name:"Login", icon:"mdi-account"},
        {name:"Register", icon:"mdi-account-outline"}
    ],
    valid: true,
    firstName: "",
    lastName: "",
    verify: "",
    loginPassword: "",
    loginEmail: "",
    loginEmailRules: [
      v => !!v || "Required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    emailRules: [
      v => !!v || "Required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],

    show1: false,
    rules: {
      required: value => !!value || "Required.",
      min: v => (v && v.length >= 5) || "Min 5 characters"
    }
  })
}
</script>