<template>
    <v-card
        class="overflow-hidden"
        v-model="valid"
        lazy-validation>
            <v-toolbar flat dark>
                <v-icon>mdi-account</v-icon>
                <v-toolbar-title class="font-weight-bold">
                    Tambah User
                </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-form ref="loginForm" v-model="valid" lazy-validation>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field v-model="Username" :rules="UsernameRules" label="Username" required></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field v-model="Email" :rules="EmailRules" label="E-mail" required></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field v-model="Password" :append-icon="show1?'mdi-eye':'mdi-eye-off'" 
                                :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" 
                                label="Password" hint="At least 5 characters" counter @click:append="show1 = !show1">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field v-model="Role" :rules="RoleRules" label="Role" required></v-text-field>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col class="d-flex mx-3" cols="8" sm="3" xsm="12" align-end>
                            <v-btn color="success" @click="validate"> Simpan </v-btn>
                            <v-btn color="amber" @click="save" href="/dashboard"> Kembali </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
                <!-- <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="Email"
                    required
                    placeholder="Masukkan email">
                </v-text-field>
                <v-text-field
                    v-model="username"
                    :counter="100"
                    :rules="usernameRules"
                    label="Username"
                    required
                    placeholder="Masukkan username">
                </v-text-field>
                <v-select
                    :items="items"
                    label="Role"
                ></v-select> -->
            </v-card-text>
            <v-divider></v-divider>
            <!-- <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="validate"
                >
                Simpan
                </v-btn>
                <v-btn
                color="amber"
                @click="save"
                href="/dashboard"
                >
                Kembali
                </v-btn>
            </v-card-actions> -->
            <!-- <v-snackbar
                v-model="hasSaved"
                :timeout="2000"
                absolute
                bottom
                left
            >
                Data telah berhasil diubah
            </v-snackbar> -->
    </v-card>
</template>

<script>
    export default {
        methods: {
            validate() {
            if (this.$refs.loginForm.validate()) {
                // submit form to server/API here...

                fetch('http://localhost:3001/user',
                {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                },
                body: JSON.stringify({ username: this.Username, email: this.Email, password: this.Password, role: this.Role})
                })
                .then(res => {
                return res.json(); 
                })
                .then(data => {
                console.log(data);
                })
                .catch(e => {
                console.log(e);
                });
            }
            },
            reset() {
            this.$refs.form.reset();
            },
            resetValidation() {
            this.$refs.form.resetValidation();
            }
        },
        data: () => ({
            dialog: true,
            tab: 0,
            tabs: [
                {name:"Simpan"},
                {name:"Kembali"}
            ],
            valid: true,
            firstName: "",
            lastName: "",
            verify: "",
            Username: "",
            Password: "",
            Email: "",
            Role: "",
            EmailRules: [
            v => !!v || "Required",
            v => /.+@.+\..+/.test(v) || "E-mail must be valid"
            ],
            emailRules: [
            v => !!v || "Required",
            v => /.+@.+\..+/.test(v) || "E-mail must be valid"
            ],

            show1: false,
            rules: {
            required: value => !!value || "Required.",
            min: v => (v && v.length >= 5) || "Min 5 characters"
            }
        })
    }
</script>